@font-face {
	font-family: 'PF Centro Sans Pro';
	src: url('PFCentroSansPro-Bold.eot');
	src: local('PFCentroSansPro-Bold'),
	url('PFCentroSansPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('PFCentroSansPro-Bold.woff') format('woff'),
	url('PFCentroSansPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}